@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.libraryConent{
    width: 100vw;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
}
.navigation{
    width: 100%;
    height: 8%;
    background-color: rgb(15, 15, 15);
    display: flex;
    position: fixed;
    justify-content: space-between;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.libraryLogo{
    width: 10%;
    height: 100%;
    z-index: 6;
    margin-left: .25rem;
    margin-top: .25rem;
    margin-right: 0;
}
.navLinks{
    width: 65%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0;
    
}
.links{
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-right: .75rem;
    margin-top: .25rem;
}
.navLinksRight{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 0rem;
    padding: 0;
    justify-content: right;
    margin-right: 3rem;
}
.linkRight{
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    
    margin-right: 1rem;
}
.pic{
    width: 2rem;
    height: 2rem;
    background-color: gray;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    background-size: cover;
    margin-top: 0;
}
.horizontalScroll{
    width: 100%;
    min-height: 25%;
    position:absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 50%;
    display: flex;
    align-items:  center;
    flex-wrap: nowrap;
    white-space: nowrap;
    
}
.horizontalScroll::-webkit-scrollbar {
    display: none;
  }
.posterHorz{
    width: 24rem;
    height: 14rem;
    border-radius: 1rem;
    margin-left: 2rem;
    display: inline-block;
    box-sizing: border-box;
    flex-shrink: 0;
}
.poster{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    
}
